html {
  margin: -10% 15% 0 15%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color: #fcb2b6;
  display: inline-block;
  scale:  0.77;

}


.timerCircle {
}

.innerCircle   {
  transform: rotate(45);
}

.taskList {
  width: 500px;
  margin: 0 0% 0 30%;
}

.timerText {
  font-size: 125px;
  word-spacing: 0%;
  kerning: -2cm;
}

.svgTaskCard {
  margin-left: -2%;
}
















.taskCard {
  font-family: 'Oswald', sans-serif;
  border-radius: 45px;
  width: 10fr;
  margin: 0 1.5fr 1.5fr 1.5fr;
  height: 1fr;
  background-color: #e10915;
  color: #fcb2b6;
  display: grid;
  grid-template-columns: 1fr 9fr;
  grid-template-rows: 6fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    "icon taskName"
    "length cTimes";
}

.icon {
  grid-area: icon;
}


.length {
  line-height: 5%;
  font-size: 25px;
  margin: 30% 0% 0% 50%;
  grid-area: length;
}
.cTimes {
  margin-left: auto;
  margin-right: 25%;
  line-height: 5%;
  margin-top: 3%;
  font-size: 25px;
  grid-area: cTimes;
}
.taskName {
  line-height: 5%;
  font-size: 80px;
  padding: 7% 0% 7% 15%;
  grid-area: taskName;
}
