.toc,
body {
  padding: 10px;
  font-family: "Linux Libertine", "Georgia", "Times", serif;
}
ul {
  font-family: sans-serif;
}

.toctogglecheckbox:checked~ul {
  display: none;
}
h2 {
  overflow: hidden;
  border-bottom: 2px solid #000000;
}
h2 {
  padding: 0;
  position: relative;
}
h2 {
  font-size: 18pt;
  line-height: 24pt;
  margin-bottom: 0.25em;
}
ul {
  margin: 10px 0 0 1.6em;
  padding: 0;
}
ul li {
  padding: 2px 0;
  font-size: 12pt;
}
.toc {
  page-break-before: avoid;
  page-break-after: avoid;
  background: none;
  border: 0;
  display: table;
}
.toc a {
  border: 0;
  font-weight: normal;
}
.toc > ul > li {
  margin-bottom: 4px;
}
.toc ul {
  margin: 0;
  list-style: none;
}
.toc ul ul {
  padding-left: 30px;
}
.toc li.toclevel-1 > a {
  font-size: 12pt;
}

body {
  background-color: #f6f6f6;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  color: #0645ad;
  background: none;
}
a:visited {
  color: #0b0080;
}
a:active {
  color: #faa700;
}
a:hover,
a:focus {
  text-decoration: underline;
}
ul {
  margin: 0.3em 0 0 1.6em;
  padding: 0;
}
li {
  margin-bottom: 0.1em;
}

.toc {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  padding: 5px;
  font-size: 95%;
}
.toc {
  display: table;
  padding: 7px;
}
.toc h2 {
  display: inline;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}
.toc .toctitle {
  text-align: center;
}
.toc ul {
  list-style: none;
  margin: 0.3em 0;
  padding: 0;
  text-align: left;
}
.toc ul ul {
  margin: 0 0 0 2em;
}
.tocnumber,
.toctext {
  display: table-cell;
  text-decoration: inherit;
}
.tocnumber {
  color: #202122;
  padding-left: 0;
  padding-right: 0.5em;
}
.toctogglecheckbox {
  display: inline !important;
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.toctogglespan {
  font-size: 94%;
}
.toctogglespan:before {
  content: " [";
}
.toctogglespan:after {
  content: "]";
}
.toctogglelabel {
  cursor: pointer;
  color: #0645ad;
}
.toctogglelabel:hover {
  text-decoration: underline;
}
.toctogglecheckbox:focus + .toctitle .toctogglelabel {
  text-decoration: underline;
  outline: dotted 1px;
  outline: auto -webkit-focus-ring-color;
}
.toctogglecheckbox:checked + .toctitle .toctogglelabel:after {
  content: "show";
}
.toctogglecheckbox:not(:checked) + .toctitle .toctogglelabel:after {
  content: "hide";
}
